<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h2 id="inCio-heading3" style="color: #000000; text-align: center;">
    Bem-vindo
  </h2>
  <div
    id="inCio-markdown3"
    style="text-align: center;"
    class="show-list-numbers-and-dots"
  >
    <p style="color: #000000;">
      Confira nossos destaques e promoções da semana de sua região!
    </p>
  </div>
  <div class="ion-padding">
    <ion-slides pager>
      <ion-slide>
        <img src="./../../assets/images/jardinagem.png" />
      </ion-slide>
      <ion-slide>
        <img src="./../../assets/images/jardinagem.png" />
      </ion-slide>
      <ion-slide>
        <img src="./../../assets/images/jardinagem.png" />
      </ion-slide>
      <ion-slide>
        <img src="./../../assets/images/jardinagem.png" />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
